input_type: "file" # file, rostopic
# input_type: "file"
event_txt_path: "/shared_dir/data/event_camera/preprocessing_study/shapes_rotation/events.txt"

ecam_height: 180
ecam_width: 240

# input_type: "rostopic"
# not implemented at now

preprocessing_type: "SAE" # SAE, EROS, SORT, SITS
#EROS: Gava, Luna, et al. "Puck: Parallel surface and convolution-kernel tracking for event-based cameras."
eros_k: 7 # pixel
eros_apply_gaussian_blur: 0
#SITS: Manderscheid, Jacques, et al. "Speed invariant time surface for learning to detect corner points with event-based cameras."
sits_r: 7 # pixel

sampling_method: "duration" # duration, number
sampling_duration: 0.1 # s

##############
output_type: "image_file" # rostopic, image_file
output_max_seq: 1000 # max seqeunce to be saved or published
output_apply_colormap: 0 # map gray to color

# output_type: "rostopic"
# publish_rate: 10 # hz
# topic_name: "event_preprocessed"

# output_type: "image_file"
image_file_output_dir: "/shared_dir/data/event_camera/preprocessing_study/SITS"